/* color */
$primary: #00c768;
$secondary: #8e8bd5;

$primaryDeep: #0e864c;
$secondaryDeep: #262553;

$green: $primary;
$blue: #4cb3ff;
$red: #ff6f88;
$orange: #ff7d32;
$yellow: #ffc000;
$white: #fff;

$strong: #7880ff;
$deep: #31314e;
$dark: #272740;
$black: #121528;
$gray: #4e4e4e;
$lightgray: #808080;